*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fonts-boxes-color);
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
}
main{
    height: 100%;
    width: 100%;
}
:root{
    --body-color:rgb(0, 16, 49);
    --header-color:rgb(0, 0, 114);
    --about-secbg-color:rgb(0, 23, 70);
    --education-secbg-color:rgb(0, 19, 57);
    --project-secbg-color:rgb(0, 14, 43);
    --achievement-secbg-color:rgb(0, 25, 74);
    --jobrole-color:rgb(0, 255, 0);
    --myprojects-resume-skills-check-color:rgb(1, 1, 187);
    --skills-reset-btn-color:rgb(216, 3, 3);
    --company-name-color:red;
    --pic-certi-hover-color:#0ef;
    --resume-submit-btn-color:rgb(2, 2, 129);
    --img-border-color:rgb(0, 14, 171);
    --img-hover: rgb(152, 152, 152);
    --img-shadow:#cdd3f3;
    --button-shadow:#cdd3f3;
    --text-hover:rgb(114, 114, 243);
    --experience-headings-color:black;
    --fonts-boxes-color:white;
    --project-skills-boxes:rgb(12, 0, 49);
    --date-box-border-color:rgb(43, 226, 95);
    --code-certificate:rgb(0, 170, 14);
    --course-organizer-color:rgb(234, 255, 0);
    --footer-color: rgb(18, 18, 18);
    --footer-inputs-color:rgba(73, 72, 72, 0.5);
    --name-footerinputs-borders-color:yellow;
    --all-shadows:#7663ec;
}
#home-sec,#about-sec,#experience-sec,#project-sec,#achievement-sec{
    width: 100vw;
    padding: 20px 0;
}
#home-sec{background-color: var(--body-color);}
#about-sec{background-color: var(--about-secbg-color);}
#experience-sec{background-color: var(--education-secbg-color);}
#project-sec{background-color: var(--project-secbg-color);}
#achievement-sec{background-color: var(--achievement-secbg-color);}
header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 15px var(--all-shadows);
}
#fakeheader{
    width: 100vw;
    height: 90px;
}
nav{
    height: 100%;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 12px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.mobile{
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    gap: 40px;
}
#nav-menu{
    display: none;
}
.nav-link:hover,nav .active{
    color: var(--pic-certi-hover-color);
}
#logo{
    padding: 0 100px 0 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    text-shadow: 2px 1.5px 2px var(--img-shadow); 
}
section{
    scroll-margin-top: 90px;
    padding-top: 10px;
}
#home{
    width: 90%;
    margin:18px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home-div1,#home-div2{
    width: 50%;
    height: 50%;
    margin:10px 25px;
}
#home-div2{
    display: flex;
    align-content: center;
    justify-content: center;
}
#home-div1 h1{
    font-size: 3.75rem;
    color: var(--name-footerinputs-borders-color);
}
#home-div1 h2{
    font-size: 3.1rem;
}
#home-div1 h3{
    font-size: 2.61rem;
    margin: 12px 0;
    color: var(--jobrole-color);
}
#home-div1 h4{
    font-size: 2rem;
    font-weight:lighter;
}
#home-div1 p{
    font-size: 1.25rem;
    margin: 18px 0;
}
#home-div1 h1,#home-div h2,#home-div h3{
    margin: 18px 0;
}
#home-div2 img{
    width: 350px;
    height: 375px;
    border: 5px solid var(--resume-submit-btn-color);
    border-radius: 50%;
    outline: 5px solid var(--pic-certi-hover-color);
    outline-offset: 6px;
    animation: myimg 0.7s ease-in 0.2s infinite alternate-reverse;
    filter: brightness(115%) contrast(125%);
}
#home-div2 img:hover{
    position: relative;
    right: 10px;
    outline: 8px solid var(--course-organizer-color);
    outline-offset: 10px;
    transition: all 0.5s ease-out 0.1s;
}
@keyframes myimg {
    from{
        outline-offset: 6px;
    }
    to{
        outline-offset: 12px;
    }
}
.buttons-home{
    padding: 18px 27px;
    margin:auto 12px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 3px 3px 3px var(--all-shadows);
    cursor: pointer;
}
.buttons-home:hover,#livedemo:hover{
    box-shadow: 0px 5px 8px var(--all-shadows);
    transform: translateY(-3px);
    transition: transform 0.3s ease 0.1s;
}
#mywork{
    color: var(--fonts-boxes-color);
    background-color: var(--myprojects-resume-skills-check-color);
    border:var(--myprojects-resume-skills-check-color);
}
#mywork:hover,#livedemo:hover,#resume:hover{
    --myprojects-resume-skills-check-color:rgb(77, 77, 223);
    background-color: var(--myprojects-resume-skills-check-color);
}
#contact-btn{
    color: var(--myprojects-resume-skills-check-color);
    background-color:var(--fonts-boxes-color);
    border:3px solid var(--myprojects-resume-skills-check-color);
}
#contact-btn:hover{
    --myprojects-resume-skills-check-color:rgb(0, 0, 68);
    --fonts-boxes-color:rgb(192, 189, 189);
    color: var(--myprojects-resume-skills-check-color);
    background-color:var(--fonts-boxes-color);
    border:var(--myprojects-resume-skills-check-color);
}
#platforms{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#platforms-div{
    margin: 10px auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 25px;
}
#footer-div img,#platforms-div img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#platforms-div img:hover,#footer-div img:hover{
    background-color: var(--img-hover);
    position: relative;
    bottom: 5px;
    transition: bottom 0.3s ease-in-out 0.1s;
}
.section-headings{
    width: 90vw;
    margin:25px auto;
    display: flex;
    justify-content: center;
}
.section-headings > span > span{
    color: var(--pic-certi-hover-color);
}
.section-headings span{
    font-size: 2.5rem;
    font-weight: bolder;
}
#about{
    width: 90vw;
    margin:20px auto;
    display: flex;
    padding: 10px;
    gap: 50px;
}
#about-div1,#about-div2{
    width: 50%;
    height: 50%;
    margin:20px 25px;
}
#about-div1 span{
    font-size: 18px;
}
#about-div2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-div2 img{
    width: 360px;
    height: fit-content;
    margin: 5px 0;
    border-radius: 20px; 
    box-shadow: 3px 3px 3px var(--img-shadow); 
    filter: brightness(105%) contrast(115%);
}
#about-div2 img:hover{
    border: 5px solid var(--pic-certi-hover-color);
    position: relative;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out 0.1s;
}
#box{
    width: fit-content;
    height: fit-content;
    margin:20px 0;
    padding: 10px;
    border: 2px solid var(--date-box-border-color);
    border-radius: 20px;
}
#box:hover{
    --date-box-border-color:rgb(0, 24, 160);
    border: 5px solid var(--pic-certi-hover-color);
}
#box pre{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 550;
}
#resume{
    color: var(--fonts-boxes-color);
    background-color: var(--myprojects-resume-skills-check-color);
    border:var(--myprojects-resume-skills-check-color);
}
#experience{
    width: 90vw;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.internships,.educations{
    width: 70%;
    height: fit-content;
}
.internships:hover,.educations:hover{
    position: relative;
    left: 10px;
    transition: all 0.5s ease-in-out 0.1s;
}
.internships time,.educations time{
    margin:10px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--date-box-border-color);
}
.content{
    width: 100%;
    height: fit-content;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--fonts-boxes-color);
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--all-shadows);
}
.content:hover{
    border: 4px solid var(--pic-certi-hover-color);
}
.content h1{
    color: var(--experience-headings-color);
}
.content li{
    margin:10px;
    color: var(--experience-headings-color);
}
.content li{
    list-style-type: "☑️ ";
    list-style-position: inside;
}
.content h3{
    margin: 8px;
    color: var(--company-name-color);
    font-size: 20px;
}
#checkresult{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px var(--all-shadows);
    margin: 10px 200px;
}
#checkresult:hover{
    --myprojects-resume-skills-check-color: rgb(0, 0, 75);
    background-color: var(--myprojects-resume-skills-check-color);
}
#skills-section{
    width: 90vw;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.skill-box{
    width: 90vw;
    height: fit-content;
    margin: 15px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(17, 2, 118);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--all-shadows);
}
.skill-box:hover{
    border: 4px solid var(--pic-certi-hover-color);
    position: relative;
    transform: scale(1.05);
    transition: all 0.25s ease-in-out 0.1s;
}
.skill-box h3{
   font-size: 22px;
   margin-bottom: 10px;
}
.skills-divs{
    width: fit-content;
    height: fit-content;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill-flexbox{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
.skills-divs img{
    width: 50px;
    height: 50px;
    margin: 10px 0;
}
#project-section{
    width: 90vw;
    margin:20px auto;
    padding: 10px;
}
#hardware,#software{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#project-section img{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
    border-radius: 20px;
    filter: brightness(115%) contrast(125%);
    box-shadow: 3px 3px 3px var(--img-shadow); 
}
.projects{
    width: 470px;
    height: fit-content;
    margin: 15px;
    padding: 5px 10px 12px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--project-skills-boxes);
    border: 2px solid var(--fonts-boxes-color);
    box-shadow: 5px 5px 5px var(--all-shadows);
    border-radius: 20px;
}
.projects:hover,.achieves:hover{
    border: 4px solid var(--pic-certi-hover-color);
    position: relative;
    transform: scale(1.04);
    transition: all 0.35s ease-in-out 0.1s;
}
.projects h3{
    margin: 6px 0;
}
.projectskill-div{
    display: flex;
    margin: 15px 0;
}
.project-buttons{
    border-radius: 40px;
    padding: 10px 20px;
    margin: auto;
    background-color: var(--code-certificate);
}
.projectbuttons-div{
    font-weight: 600;
    display: flex;
    gap: 70px;
    cursor: pointer;
}
#livedemo{
    background-color: var(--myprojects-resume-skills-check-color);
    box-shadow: 3px 3px 3px var(--all-shadows);
}
#viewcode,#circuit-diagram-btn{
    box-shadow: 3px 3px 3px var(--button-shadow);
}
#certificate:hover,#viewcode:hover,#circuit-diagram-btn:hover{
    --code-certificate:rgb(0, 77, 8);
    background-color: var(--code-certificate);
    box-shadow: 0px 5px 8px var(--all-shadows);
    transform: translateY(-3px);
    transition: transform 0.3s ease 0.1s;
}
#achievements{
    width: 90vw;
    margin:20px auto;
    padding: 10px;
}
.achieves{
    width:500px;
    height:fit-content;
    margin: 30px auto;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--project-skills-boxes);
    border: 2px solid var(--fonts-boxes-color);
    box-shadow: 5px 5px 5px var(--all-shadows);
    border-radius: 20px;
}
.achieves .project-logo{
    filter: brightness(105%) contrast(110%);
    box-shadow: 3px 3px 3px var(--img-shadow); 
}
.achieves a,.projects a{
    margin: 15px auto;
}
.achieves .project-logo{
    width: 100%;
    height: 50%;
    margin: 10px auto;
    border-radius: 20px;
}
.achieves time{
    margin: 8px auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.achieves span{
    margin: 10px 15px;
}
.achieves h3{
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
}
.achieve-buttons{
    border-radius: 40px;
    padding: 10px 60px;
    margin: 25px auto;
    background-color: var(--myprojects-resume-skills-check-color);
    cursor: pointer;
    box-shadow: 3px 3px 3px var(--button-shadow);
}
#certification{
    margin:20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#certification h3{
    color: var(--course-organizer-color); margin: 10px;
}
.certificates{
    width:460px;
    margin: 10px auto;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--project-skills-boxes);
    border: 2px solid var(--fonts-boxes-color);
    box-shadow: 5px 5px 5px var(--all-shadows);
    border-radius: 20px;
}
#certificate{
    background-color: var(--code-certificate);
    border:var(--code-certificate) ;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 60px;
    margin: 20px auto;
    cursor: pointer;
    --button-shadow:#c2f9ac;
    box-shadow: 3px 3px 3px var(--button-shadow);
}
footer{
    width: 100vw;
    padding-top: 20px;
    background-color: var(--footer-color);
}
footer h1{
    margin: 5px 0;
}
footer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 30px;
}
footer input,textarea{
    width: 70%;
    background-color: var(--footer-inputs-color);
    padding: 15px 0 15px 15px;
    font-size: 20px;
    margin: auto 20px;
    border: 2px solid var(--name-footerinputs-borders-color);
    border-radius: 6px;
}
footer textarea{
    padding: 10px 0 20px 10px;
    size-adjust: none;
}
#footer-div{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 25px 0;
}
.copyright{
    background-color: var(--footer-inputs-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastbuttons{
    display: flex;
}
#reset,#submit{
    padding: 15px 50px; 
    font-weight: bold;  
    border-radius: 6px;
    --button-shadow:#fdacac;
    box-shadow: 3px 3px 3px var(--button-shadow);
    cursor: pointer;
}
#submit{
    background-color: var(--resume-submit-btn-color);
    border: 1px solid var(--resume-submit-btn-color);
    box-shadow: 3px 3px 3px var(--all-shadows);
}
#submit:hover,#resume:hover{
    --resume-submit-btn-color:rgb(1, 1, 81);
    background-color: var(--resume-submit-btn-color);
    border: 1px solid var(--resume-submit-btn-color);
}
.red-buttons{
    background-color: var(--skills-reset-btn-color);
    border: 1px solid var(--skills-reset-btn-color);
    font-weight: 600;
    margin: 0 10px;
    padding: 6px 15px;
    margin: 5px 10px;
    border-radius: 40px;
    --button-shadow:#f9acac;
    box-shadow: 3px 3px 3px var(--button-shadow);
}
.red-buttons:hover{
    --skills-reset-btn-color:rgb(103, 0, 0);
    background-color: var(--skills-reset-btn-color);
}
/* big screens */
@media only screen and (max-width:1180px){
    header{
        height: fit-content;
    }
    #fakeheader{
        height: 15px;
    }
    #logo{
        margin: 0px 15px;
        padding: 10px 5px 5px 15px;
        font-size: 20px;
    }
    nav ul li{
        display: block;
        padding: 5px;
        font-size: 1.05rem;
        font-weight: bold;
    }
    .buttons-home{
        margin: 15px 0;
    }
    #about{
        gap: 15px;
        flex-direction: column-reverse;
    }
    #about-div1,#about-div2{
        width: 100%;
    }
    #about-div1 span{
        font-size: 14px;
        display: inline;
        flex-wrap: wrap;
        margin: 0 20px;
    }
    #about-div2 img{
        width: 310px;
        height: 200px;  
    }
    #box{
        margin: 35px 20px;
        padding: 22px;
    }
    #resume{
        width: 80vw;
        margin: auto;
    }
    #skills-section{
        flex-direction: column;
    }
    #hardware,#software,#certification{
        flex-direction: column;
        align-items: center;
    }
}
/* menu button */
@media (min-width: 775px) {
  .nav ul li {
    display: flex !important; /* Always show menu items */
  }
  #nav-menu {
    display: none; /* Hide toggle icon on large screens */
  }
}
/* tablets */
@media only screen and (max-width: 775px) {
    nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        padding: 10px 3%;
        box-shadow: 0px 0px 12px var(--all-shadows);
    }
    nav ul{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        padding: 5px;
        font-weight: 100;
        font-size: 1.05rem;
        font-weight: bold;
    }
    .mobile{
        align-items: center;
        justify-content: space-around;
        gap: 5rem;
    }
    #nav-menu{
        display: block;
    }
    #nav-menu img{
        height: 35px; width: 35px;
        margin: 0 10px;
    }
    #logo{
        margin: 0px 20px;
        padding: 10px 5px 5px 15px;
        font-size: 21px;
        font-weight: bold;
    }
    #home{
        margin:20px 0;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    #home-div1,#home-div2{
        margin:30px 0px 5px 14px;
    }
    #home-div1 h1{
        font-size: 45px;
    }
    #home-div1 h2{
        font-size: 37px;
    }
    #home-div1 h3{
        font-size: 38px;
        margin: 10px 0;
    }
    #home-div1 h4{
        font-size: 25px;
    }
    #home-div1 p{
        font-size: 20px;
        margin: 15px 0;
    }
    #home-div1 h1,#home-div h2,#home-div h3{
        margin: 10px 0;
    }
    .home-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .buttons-home{
        margin: 10px auto;
        font-size: 15px;
    }
    #about{
        gap: 25px;
    }
    #about-div1,#about-div2{
        width: 90%;
    }
    #about-div1 span{
        font-size: 19px;
    }
    #about-div2 img{
        width: 280px; 
    }
    #box{
        width: 90%;
        padding: 22px;
        object-fit: cover;
    }
    #box pre{
        font-size: 15px;
    }
    #resume{
        width: 80vw;
        margin: auto;
    }
    #experience{
        padding: 10px;
        gap: 20px;
    }
    .internships,.educations{
        width: 90%;
        height: fit-content;
    }
    .internships h2,.educations h2{
        margin:8px 10px;
    }
    .content{
        height: fit-content;
        padding: 20px;
    }
    #checkresult{
        margin: 5px 25px;
    }
    #skills-section{
        flex-direction: column;
    }
    .skills-divs{
        height: fit-content;
    }
    #hardware,#software{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects{
        width: 380px;
        padding: 10px;
    }
    .achieves{
        width: 380px;
    }
    #certification{
        flex-wrap: wrap;
    }
    .certificates{
        width: 390px;
        margin: 10px auto;
    }
}
/* mobiles */
@media only screen and (max-width:455px) {
    header{
        height: fit-content;
    }
    #logo{
        font-size: 1.14rem;
    }
    #home{
        width: auto;
    }
    #home-div1,#home-div2{
        width: 100%;
        height: 100%;
    }
    #home-div2{
        margin:0px 20px;
    }
    #home-div2{
        margin-top: 0.93rem;
    }
    #home-div1 h1{
        font-size: 3rem;
    }
    #home-div1 h2{
        font-size: 2.3rem;
    }
    #home-div1 h3{
        font-size: 2.5rem;
    }
    #home-div1 h4{
        font-size: 1.6rem;
        font-weight:500;
    }
    #home-div1 p{
        font-size: 18px;
        margin: 15px 0;
    }
    #home-div1 h1,#home-div h2,#home-div h3{
        margin: 5px 0;
    }
    #home-div2 img{
        width: 240px;
        height: 260px;
        margin: 5px 25px;
        outline: 5px solid var(--skills-reset-btn-color);
    }
    .section-headings span{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    #about{
        margin:15px auto;
        gap: 20px;
        flex-direction: column-reverse;
    }
    #about-div1,#about-div2{
        margin: 15px auto;
    }
    #about-div2 img{
        width: 320px;
        height: fit-content;
        margin: 15px 0; 
    }
    #box{
        width:70vw;
        padding: 12px;
        border: 3px solid var(--date-box-border-color);
    }
    #box pre{
        margin: 10px 0;
        font-size: 10px;
        font-weight: 550;
    }
    #experience{
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }
    .internships,.educations{
        height: fit-content;
    }
    .internships h2,.educations h2{
        margin:12px 20px;
        color: var(--date-box-border-color);
    }
    .content{
        padding: 18px;
    }
    .content li{
        margin:20px;
    }
    .content h3{
       margin: 10px 0;
    }
    #checkresult{
        font-size: 15px;
        width: 100%;
        margin: 0 0;
    }
    #skills-section{
        flex-direction: column;
    }
    .skill-box{
        width: 80vw;
        margin: auto;
    }
    #hardware,#software{
        flex-wrap: nowrap;
    }
    #project-section img{ 
        height: fit-content;
    }
    .projects{
        width: 320px;
    }
    .projectskill-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .projectbuttons-div{
        gap: 10px;
        flex-wrap: wrap;
    }
    .achieves{
        width: 300px;
    }
    .achieves span{
        margin: 5px 10px;
    }
    #certification{
        flex-wrap: wrap;
    }
    .certificates{
        width:320px;
        margin: 15px 0;
    }
    .certificates h1{
        font-size: 20px;
    }
    #reset,#submit{
        padding: 12px 40px; 
    }
}
/* more small devices */
@media only screen and (max-width:380px) {
    #logo{
        font-size: 1.1rem;
    }
    #home-div2{
        margin:0px 20px;
    }
    #home-div2{
        margin-top: 0.95rem;
    }
    #home-div1 h1{
        font-size: 2.7rem;
    }
    #home-div1 h2{
        font-size: 2.15rem;
    }
    #home-div1 h3{
        font-size: 2rem;
    }
    #home-div1 h4{
        font-size: 1.25rem;
    }
    #home-div1 p{
        font-size: 15px;
    }
    .section-headings span{
        font-size: 1.25rem;
    }
    #about-div2 img{
        width: 240px;
    }
    #box{
        display: 230px;
    }
    #box pre{
        margin: 10px 0;
        font-size: 10px;
    }
    #experience{
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }
    #skills-section{
        flex-direction: column;
    }
    .skill-box{
        width: 50vw;
    }
    .skill-box h3{
        font-size: 19px;
    }
    .skills-divs{
        flex-wrap: wrap;
    }
    .skill-flexbox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects,.achieves,.certificates{
        width: 240px;
    }
    .projectbuttons-div{
        flex-direction: column;
        gap: 5px;
    }
    .certificates h1{
        font-size: 15px;
    }
    #reset,#submit{
        padding: 10px 30px; 
    }
    #footer-div{
        gap: 20px;
    }
    #footer-div img{
        width: 40px; height: 40px;
    }
}
@media only screen and (max-width:455px) and (orientation: landscape) {
    #about{
        flex-direction: column-reverse;
    }
}
@media only screen and (orientation:portrait ) {
    #certification{
        flex-wrap: wrap;
    }
}
